@{
    ViewData["Title"] = "Home Chat";
}

@model API

<div>
    <flowise-fullchatbot></flowise-fullchatbot>
</div>
<script type="module">
    import Chatbot from 'https://cdn.jsdelivr.net/npm/flowise-embed/dist/web.js'

    Chatbot.initFull({
        chatflowid: '@Model.FlowID',
        apiHost: '@Model.BaseUrl',
        theme: {
            button: {
                backgroundColor: '#bf2133',
            },
            chatWindow: {
                welcomeMessage: 'hallo, waar kan ik je mee helpen?',
                backgroundColor: 'floralWhite',
                height: (screen.height / 1.5),
                width: (screen.width / 1.5),
                fontSize: 16,
                poweredByTextColor: '#303235',
                botMessage: {
                    backgroundColor: 'floralwhite',
                    textColor: '#303235',
                    showAvatar: false
                },
                userMessage: {
                    backgroundColor: '#f9dbdb',
                    textColor: '#303235',
                    showAvatar: false,
                },
                textInput: {
                    placeholder: 'Type your question',
                    backgroundColor: '#ffffff',
                    textColor: '#303235',
                    sendButtonColor: '#bf2133',
                }
            }
        }
    })
</script>